{{ $data := index .Site.Data .Site.Language.Lang }}
{{ if $data.homepage.section_5 }}
{{ with $data.homepage.section_5 }}

<section class="section section_5 py-5 my-lg-5" id="company">
<div class="container">
    <h2 class="text-center mb-5">Почему компания дает такие проценты?</h2>

    <div class="row">
        <div class="col-md-6 my-3">
            <div class="card">
                <div class="card__icon">
                    <img src="/images/icon1.png" alt="ALT">
                </div>
                <div class="card__content">
                    <div class="card__title">
                        Реализация новых проектов
                    </div>
                    <div class="card__text">
                        Компания ITG поддерживает новые Европейские проекты в сфере банковских услуг и WEB 3 технологий, приносящих прибыль компании.
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6 my-3">
            <div class="card">
                <div class="card__icon">
                    <img src="/images/icon3.png" alt="ALT">
                </div>
                <div class="card__content">
                    <div class="card__title">
                        Внедрение WEB 3 в бизнес
                    </div>
                    <div class="card__text">
                        Мы используем алгоритмический подход к торговле в сфере цифровых активов и токенизацию бизнеса, что является нашей гордостью.
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6 my-3">
            <div class="card">
                <div class="card__icon">
                    <img src="/images/icon2.png" alt="ALT">
                </div>
                <div class="card__content">
                    <div class="card__title">
                        Опыт управления
                    </div>
                    <div class="card__text">
                        Разработка стратегии и управления инвестиционными портфелями, управление ликвидностью является нашим главным преимуществом.
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6 my-3">
            <div class="card">
                <div class="card__icon">
                    <img src="/images/icon4.png" alt="ALT">
                </div>
                <div class="card__content">
                    <div class="card__title">
                        Роботизированная торговля
                    </div>
                    <div class="card__text">
                        Наборы определенных алгоритмов, над которыми работала команда финансистов и программистов на протяжении 3-x лет.
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
</section>

{{ end }} 
{{ end }}