{{ $data := index .Site.Data .Site.Language.Lang }}
{{ if $data.homepage.section_6 }}
{{ with $data.homepage.section_6 }}

<section class="section section_6" id="smart-contract">
    <div class="container py-5">
        <div class="row align-items-center">
            <div class="col-md-6">
                <h2>
                    Что такое
                    смарт-контракт?
                </h2>
            </div>
            <div class="col-md-6 p-lg-5">
                Смарт-контракт – это компьютерный аналог обычных договоров, специальная программа (алгоритм), которая
                выполняет некие действия при выполнении сторонами соглашения определенных условий, например, отправляет
                деньги продавцу при поставке товара покупателю надлежащего качества. Smart-contracts предоставляют
                возможность безопасно обмениваться криптовалютой, деньгами, ценными бумагами, а также другими товарами и
                услугами напрямую между участниками сделки, без участия посредников.
            </div>
        </div>
    </div>
</section>

{{ end }}
{{ end }}