{{ $data := index .Site.Data .Site.Language.Lang }}
{{ if $data.homepage.section_4 }}
{{ with $data.homepage.section_4 }}

<section class="section section_4 mt-lg-5 pt-lg-5" id="deposit">
    <div class="container">

        <h2 class="text-center">
            Условия и депозиты
        </h2>

        <div class="row my-5 mx-auto calculator">
            <div class="col-md-6 p-5">
                <table>
                    <tr>
                        <td class="calculator__label">Сумма депозита, $</td>
                        <td>
                            <p class="calculator-dep"></p>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <input class="calculator-range-dep" type="range" min="0" max="100000" value="1"
                                step="5000" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            от
                        </td>
                        <td>
                            без ограничений
                        </td>
                    </tr>
                </table>

                <table>
                    <tr>
                        <td class="calculator__label">Срок депозита, мес</td>
                        <td>
                            <p class="calculator-year"></p>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <input class="calculator-range-year" type="range" min="1" max="36" value="1" step="1" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            1
                        </td>
                        <td>
                            36
                        </td>
                    </tr>
                </table>

            </div>
            <div class="col-md-6 p-5">
                <div class="calculator__label">
                    Доход в конце срока:
                </div>
                <div class="calculator__res">
                    <div class="calculator-total"></div>
                </div>
                <div class="calculator__percent">
                    <b>Ставка:&nbsp;</b>
                    <span class="calculator-percent"></span>
                </div>
                <div class="calculator__note">
                    Для ознакоиления с Депозитами и % ставками перейдите к блоку ставки и депозиты
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6 col-lg-12">
                <table class="table-price">
                    <tr>
                        <th rowspan="3">
                            <big>3</big> месяца
                        </th>
                        <td>
                            <table class="table-price__inner">
                                <tr>
                                    <td>
                                        <table>
                                            <tr>
                                                <th>
                                                    Минимальная сумма
                                                </th>
                                            </tr>
                                            <tr>
                                                <td>
                                                    от 1000$
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td>
                                        <table>
                                            <tr>
                                                <th>
                                                    Срок вклада
                                                </th>
                                            </tr>
                                            <tr>
                                                <td>
                                                    3 месяца
                                                </td>
                                            </tr>
                                        </table>

                                    </td>
                                    <td>
                                        <table>
                                            <tr>
                                                <th>
                                                    Ставка/мес
                                                </th>
                                            </tr>
                                            <tr>
                                                <td>
                                                    ~4,3%
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td>
                                        <table>
                                            <tr>
                                                <th>
                                                    Доход за весь период
                                                </th>
                                            </tr>
                                            <tr>
                                                <td>
                                                    13%
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr class="row1">

                                    <td colspan="3" class="cell1">
                                        <a href="#" class="btn">
                                            Оформить
                                        </a>
                                    </td>
                                    <td class="cell2">
                                        Выплачиваем % <br>ежемесячно
                                    </td>
                                </tr>
                    </tr>
                </table>
                </td>
                </table>
            </div>
            <div class="col-sm-6 col-lg-12">
                <table class="table-price">
                    <tr>
                        <th rowspan="3">
                            <big>6</big> месяцев
                        </th>
                        <td>
                            <table class="table-price__inner">
                                <tr>
                                    <td>
                                        <table>
                                            <tr>
                                                <th>
                                                    Минимальная сумма
                                                </th>
                                            </tr>
                                            <tr>
                                                <td>
                                                    от 1000$
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td>
                                        <table>
                                            <tr>
                                                <th>
                                                    Срок вклада
                                                </th>
                                            </tr>
                                            <tr>
                                                <td>
                                                    6 месяцев
                                                </td>
                                            </tr>
                                        </table>

                                    </td>
                                    <td>
                                        <table>
                                            <tr>
                                                <th>
                                                    Ставка/мес
                                                </th>
                                            </tr>
                                            <tr>
                                                <td>
                                                    ~4,6%
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td>
                                        <table>
                                            <tr>
                                                <th>
                                                    Доход за весь период
                                                </th>
                                            </tr>
                                            <tr>
                                                <td>
                                                    28%
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr class="row1">

                                    <td colspan="3" class="cell1">
                                        <a href="#" class="btn">
                                            Оформить
                                        </a>
                                    </td>
                                    <td class="cell2">
                                        Выплачиваем % <br>ежемесячно
                                    </td>
                                </tr>
                    </tr>
                </table>
                </td>
                </table>
            </div>
            <div class="col-sm-6 col-lg-12">
                <table class="table-price">
                    <tr>
                        <th rowspan="3">
                            <big>12</big> месяцев
                        </th>
                        <td>
                            <table class="table-price__inner">
                                <tr>
                                    <td>
                                        <table>
                                            <tr>
                                                <th>
                                                    Минимальная сумма
                                                </th>
                                            </tr>
                                            <tr>
                                                <td>
                                                    от 1000$
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td>
                                        <table>
                                            <tr>
                                                <th>
                                                    Срок вклада
                                                </th>
                                            </tr>
                                            <tr>
                                                <td>
                                                    12 месяцев
                                                </td>
                                            </tr>
                                        </table>

                                    </td>
                                    <td>
                                        <table>
                                            <tr>
                                                <th>
                                                    Ставка/мес
                                                </th>
                                            </tr>
                                            <tr>
                                                <td>
                                                    ~5%
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td>
                                        <table>
                                            <tr>
                                                <th>
                                                    Доход за весь период
                                                </th>
                                            </tr>
                                            <tr>
                                                <td>
                                                    60%
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr class="row1">

                                    <td colspan="3" class="cell1">
                                        <a href="#" class="btn">
                                            Оформить
                                        </a>
                                    </td>
                                    <td class="cell2">
                                        Выплачиваем % <br>ежемесячно
                                    </td>
                                </tr>
                    </tr>
                </table>
                </td>
                </table>
            </div>
            <div class="col-sm-6 col-lg-12">
                <table class="table-price">
                    <tr>
                        <th rowspan="3">
                            <big>24</big> месяца
                        </th>
                        <td>
                            <table class="table-price__inner">
                                <tr>
                                    <td>
                                        <table>
                                            <tr>
                                                <th>
                                                    Минимальная сумма
                                                </th>
                                            </tr>
                                            <tr>
                                                <td>
                                                    от 1000$
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td>
                                        <table>
                                            <tr>
                                                <th>
                                                    Срок вклада
                                                </th>
                                            </tr>
                                            <tr>
                                                <td>
                                                    24 месяца
                                                </td>
                                            </tr>
                                        </table>

                                    </td>
                                    <td>
                                        <table>
                                            <tr>
                                                <th>
                                                    Ставка/мес
                                                </th>
                                            </tr>
                                            <tr>
                                                <td>
                                                    ~5,4%
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td>
                                        <table>
                                            <tr>
                                                <th>
                                                    Доход за весь период
                                                </th>
                                            </tr>
                                            <tr>
                                                <td>
                                                    130%
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr class="row1">

                                    <td colspan="3" class="cell1">
                                        <a href="#" class="btn">
                                            Оформить
                                        </a>
                                    </td>
                                    <td class="cell2">
                                        Выплачиваем % <br>ежемесячно
                                    </td>
                                </tr>
                    </tr>
                </table>
                </td>
                </table>
            </div>
            <div class="col-sm-6 col-lg-12">
                <table class="table-price">
                    <tr>
                        <th rowspan="3">
                            <big>36</big> месяцев
                        </th>
                        <td>
                            <table class="table-price__inner">
                                <tr>
                                    <td>
                                        <table>
                                            <tr>
                                                <th>
                                                    Минимальная сумма
                                                </th>
                                            </tr>
                                            <tr>
                                                <td>
                                                    от 1000$
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td>
                                        <table>
                                            <tr>
                                                <th>
                                                    Срок вклада
                                                </th>
                                            </tr>
                                            <tr>
                                                <td>
                                                    36 месяцев
                                                </td>
                                            </tr>
                                        </table>

                                    </td>
                                    <td>
                                        <table>
                                            <tr>
                                                <th>
                                                    Ставка/мес
                                                </th>
                                            </tr>
                                            <tr>
                                                <td>
                                                    ~5,54%
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td>
                                        <table>
                                            <tr>
                                                <th>
                                                    Доход за весь период
                                                </th>
                                            </tr>
                                            <tr>
                                                <td>
                                                    200%
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr class="row1">

                                    <td colspan="3" class="cell1">
                                        <a href="#" class="btn">
                                            Оформить
                                        </a>
                                    </td>
                                    <td class="cell2">
                                        Выплачиваем % <br>ежемесячно
                                    </td>
                                </tr>
                    </tr>
                </table>
                </td>
                </table>
            </div>
        </div>



    </div>
</section>

<script>
    window.onload = function () {
        var $ = function (selector) {
            return document.querySelector(selector);
        };
        var update = function () {
            var mnts = $range_year.value;
            var dep_base = $range_dep.value;

            $year.innerHTML = mnts + ' мес';
            $dep.innerHTML = dep_base + ' $';

            var percent;

            if (mnts <= 3) {
                percent = 4.3
            } else if (mnts <= 6) {
                percent = 4.6
            } else if (mnts <= 12) {
                percent = 5
            } else if (mnts <= 24) {
                percent = 5.4
            } else if (mnts <= 36) {
                percent = 5.54
            } else {
                percent = 5
            }

            $interest.innerHTML = percent + '%';


            var discount = (dep_base * (percent / 100)).toFixed(2);

            $total.innerHTML = discount + '$';

        };


        var $range_year = $('.calculator-range-year');
        var $year = $('.calculator-year');
        var $range_dep = $('.calculator-range-dep');
        var $dep = $('.calculator-dep');
        var $total = $('.calculator-total');
        var $interest = $('.calculator-percent')



        update();
        $range_year.addEventListener('input', update);
        $range_year.addEventListener('change', update);
        $range_dep.addEventListener('input', update);
        $range_dep.addEventListener('change', update);


    };
</script>

{{ end }}
{{ end }}